.slider{
    width : 500px;
    margin : 0 auto;
}
.slider .slider-guide{
    width : 100%;
    border : 0px solid #fff;
    height : 10px;
    background : #aaa;
    border-radius : 5px;
    display : block;
    box-shadow : 1px 1px 1px #000;
}
.slider .slider-handle{
    display : block;
    border : 1px solid #aaa;
    margin-left: 50px;
    margin-top: -16px;
    width : 20px;
    height : 20px;
    border-radius : 3px;
    background: #ddd;
    box-shadow : 1px 1px 1px #000;
}